button {
    padding: 8px;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    border: none;
}

.delete {
    background-color: red;
}

.archive {
    background-color: brown;
}

.return {
    background-color: green;
}

* {
    background-color: #282c34;
    color: white;
}