.search-input {
    text-align: center;
    background-color: #c7c7c7;
    height: 50px;
    width: 30%;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    margin-top: 50px;
    color: black;
}
